<template name="landing">
  <div id="fb-root"></div>
  <div id="intro-screen">
    <div class="intro-screen-content">
      <div class="logo">
        <img class="ninja-logo" src="/images/ashark.png" />
        <h1 class="app-title">
          Shark.report
        </h1>
      </div>
      <ul class="slogans">
        <li>No more guessing about beach conditions.</li>
        <li>Get realtime updates from fellow beachgoers!</li>
        <li>No need to refresh, the app updates on its own.</li>
      </ul>

      <h1 class="transport-type">South East</h1>
      <ul class="collapsible" data-collapsible="accordion">
        {{#each regions}}
          {{> line}} 
        {{/each}}
      </ul>

      <div class="share-buttons">
        <div class="fb-share-button" data-href="http://hatchnorfolk.com" data-layout="button_count"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://shark.report" data-text="Check out shark.report - Waze for the Beach!" data-via="mbta_ninja" data-hashtags="mbta">Tweet</a>
      </div>
      <div class="credits">
        Brought to you by <a href="http://hatchnorfolk.com">Hatch Norfolk</a><br/>
        <img  src="/images/hatch-logo.png" /><br/>
        email us at <a href="mailto:info@hatchnorfolk.com">info@hatchnorfolk.com</a>
      </div>
    </div>
  </div>
</template>
